@import "../../index.scss";

.profileWrapper {
  width: 150px;
  @include flex-center(flex-start);
}

.profileName {
  color: white;
  margin: 0px 0px 0px 10px;
}

.appLogo {
  margin: 2px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  // pointer-events: all;
}

.appLogo:hover {
  outline: 1px dotted grey;
}

.appLogo:focus {
  outline: 1px dotted grey;
}

.appLogo:target {
  outline: 1px dotted grey;
}

.profileDropdown {
  cursor: pointer;
}

.profileDropdown:hover {
  text-decoration: underline;
}
