.formItem {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.formLabel {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.formInput {
  width: 100%;
}

.formError {
  height: 1.5em;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
